body{
    margin: 0em;
    background-color: aquamarine;
}

form{
    background-color: rgb(45, 142, 168);
    width: 40em;
    margin: auto;
}

form h3{
    text-align: center;
    padding-top: .5em;
    color: white;
    font-size: xx-large;
}

form div{
    width: 40%;
    margin: auto;
}

form input#textoBusqueda{
    width: 250px;
    height: 4em;
    display:block;
}

form div div{
    width: 80%;
    height: 2em;
    margin: 1em auto;
}

form div div input#enviarBTN{
    width: 200px;
    height: 2em;
    background-color: azure;
    border: 0em;
}

form div div input#enviarBTN:hover{
    background-color: rgb(210, 255, 255);
    cursor: pointer;
}

div.contenido{
    width: 83%;
    margin: auto;
}

div.numeroPagina{
    width:40%;
    margin: auto;
}

.pequenio{
    width: 250px;
    height: 175px;
}